@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    justify-content: center;
    align-items: center;
    background-image: url('../img/background.png');
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    transition: 1s;
    
}

#filtro {
    backdrop-filter: blur(10px);
}

.herramienta {
    width: 90%;
    backdrop-filter: blur(10px);
    /* background-color: gray; */

}



.herramienta a>img {
    width: 50%;
    height: auto;
    object-fit: cover;
    transition: .3s !important;
}

/* Coloque el 'a<img' a porpósito, porque se vería algo raro y la única solución que encontré fue ponciendo el '<'. */
.herramienta a<img {
    transform: scale(1.1) !important;
}


.herramienta a {
    text-decoration: none;
    color: orange !important;
    height: 100px;
}
