@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: "#3f3f3f";
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

#intro {
    transform: scale(1);
    transition: .5s;
}

.icono-wrap {
    transform: scale(1);
    transition: .6s;
}

#bg-contacto {
    position: relative;
    top: -130px;
}

#seccion-contacto {
    background-color: #0d6efd;
    min-height: 500px;
    position: relative;
}

footer {
    background-color: #0d6efd;
    min-height: 100px;
}

footer p {
    color: #fbfafa;
    text-align: center;
}

#iconos i {
    font-size: 28px;
    padding: 0 8px;
    color: #fbfafa;
}


@media (max-width: 768px) {
    #intro, #equipo {
        width: 90% !important;
    }

    #equipo p {
        display: none;
    }

    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto {
        top: -110px;
    }
}

#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}

#titulo-formulario {
    color: #000000;
}

@media (max-width: 576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}